<a href="https://colab.research.google.com/github/drpetros11111/PythonLearning_Cohen/blob/Python-Basics/DUDL_python_DataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# COURSE: A deep understanding of deep learning
## SECTION: Introduction to Python: data types
#### TEACHER: Mike X Cohen, sincxpress.com
##### COURSE URL: udemy.com/course/deeplearning_x/?couponCode=202212

# .
# .
# .

# VIDEO: Variables

In [1]:
# This is a comment. Python will ignore this text.

In [3]:
a = 4
b = 3

In [ ]:
a

In [4]:
a
b

3

In [5]:
print(a) # comments after a line
print(b)

4
3

In [6]:
c = 7
d = 7.0

print(c,d)

7 7.0

In [7]:
type(c)
type(d)

float

In [8]:
c = 'hello'
d = "Hey there!"

In [11]:
# define variables and parameters
aVariable    = 10
filterOrder  = 2048
user_name    = 'mike'
param4modelA = 42.42

not_allowed = 3
also_not = 3
nope_ = 3

# variable naming rule: no non-alphanumeric characters except _
# variables may contain numbers but not start with them

In [12]:
%whos

Variable       Type     Data/Info
---------------------------------
a              int      4
aVariable      int      10
also_not       int      3
b              int      3
c              str      hello
d              str      Hey there!
filterOrder    int      2048
nope_          int      3
not_allowed    int      3
param4modelA   float    42.42
user_name      str      mike

In [13]:
# multiple assignment
varA,varB = 3,'test'

print(varA)
print(varB)

3
test

### Exercise:

In [ ]:
# discover whether it's possible in Python to over-write variables:
#  1) within-type (e.g., numeric to a different number)
#  2) across-type (e.g., numeric to a string)

# .
# .
# .

# VIDEO: Math operators

In [14]:
# let's start by creating some variables
x = 7
y = 4.1
z = 0

In [15]:
# Addition and subtraction

print( x-7 )

c = y + x - 2

0

In [16]:
# multiplication and division
print( x*y ) # note: floating-point algebra is not the same thing as "real" algebra
4/3
4\
  +3

28.699999999999996

7

In [17]:
# powers
2**3

8

In [18]:
print( 9**1/2 )

# therefore, use parentheses to overwrite order of operations
print( 9**(1/2) )

4.5
3.0

In [19]:
# can we "add" strings??
firstName = 'Mike'
lastName  = 'Cohen'

print( firstName + lastName )
print( firstName + ' ' + lastName )

MikeCohen
Mike Cohen

In [20]:
# just curious...
firstName - lastName

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [21]:
# trying to subtract strings will cause an error
#firstName - lastName

# You could instead replace parts of the string with the String.replace() method
firstName.replace('Mike','')

''

In [22]:
firstName * 3

'MikeMikeMike'

In [24]:
# printing mixed variable types
print( '7 times 4.1 equals 28.7' )

print( str(x) + ' times ' + str(y) + ' equals ' + str(x*y) )

7 times 4.1 equals 28.7
7 times 4.1 equals 28.699999999999996

# Automatic casting of strings into floats
This code performs a more dynamic operation where it prints a combination of variables and text. Here's what happens step by step:

----------------------
## Variables

x and y are variables.

In this case, they are assumed to contain numerical values (e.g., x = 7 and y = 4.1).

--------------
## String Conversion

str(x): Converts the value of x to a string.

str(y): Converts the value of y to a string.

str(x * y): Multiplies x and y, then converts the result to a string.

--------------------------
##String Concatenation:

The + operator is used to concatenate (join) strings together.

In this case, it's joining the text ' times ', ' equals ', and the string
representations of x, y, and their product.

-------------------
#Example:

If x = 7 and y = 4.1, the following happens:

    str(x) becomes '7'
    str(y) becomes '4.1'

x * y becomes 28.7, and str(x * y) becomes '28.7'.

So the final string passed to print() would be:

    '7 times 4.1 equals 28.7'

--------------------
#Summary
First print statement: Outputs a predefined string.

Second print statement: Dynamically converts variables of different types (like numbers) into strings, then concatenates them with text and prints the result.

This technique is useful when you need to format output that includes both text and variables.

In [25]:
print( str(x) + ' times ' + str(y) + ' equals ' + str(x*y) )

7 times 4.1 equals 28.699999999999996

In [26]:
# inputting data from the user
ans = input('Feed me a stray cat ')
print(ans)
print(type(ans))

Feed me a stray cat pupa
pupa
<class 'str'>

In [27]:
ans*10

'pupapupapupapupapupapupapupapupapupapupa'

In [28]:
numans = input( 'Input a number: ' )
numans = float(numans)

type(numans)

Input a number: 12

float

### Exercise

In [30]:
# The goal is to apply the Pythagorean theorem.
#  Input from the user two lengths, and you return the third length
side1 = int( input('Length of side a: ') )
side2 = int( input('Length of side b: ') )

thirdside = (side1**2 + side2**2)**(1/2)

print(' ')
print( 'The length of side c is ' + str( thirdside ) )

Length of side a: 12
Length of side b: 10

The length of side c is 15.620499351813308

# .
# .
# .

# VIDEO: Lists

In [31]:
aList = [0,1,2,3,4,5]

aList

[0, 1, 2, 3, 4, 5]

In [32]:
strList = [ 'hi','my','name','is','Mike' ]
strList

['hi', 'my', 'name', 'is', 'Mike']

In [33]:
mixList = [ 3,'three',4,'four' ]
mixList

[3, 'three', 4, 'four']

In [34]:
listList = [ 3,['3','4','5'],5,[4,5,6] ]
listList

[3, ['3', '4', '5'], 5, [4, 5, 6]]

In [35]:
listList = [
            3,              # a number
            ['3','h','5'],  # a list of strings
            5,              # another number
            [4,5,6]         # a list of numbers
           ]

listList

[3, ['3', 'h', '5'], 5, [4, 5, 6]]

In [36]:
# test whether an item is in a list
4 in aList

True

In [37]:
print( 4 in aList )

print( 14 in aList )
print( 14 not in aList )

True
False
True

In [38]:
aList + strList

[0, 1, 2, 3, 4, 5, 'hi', 'my', 'name', 'is', 'Mike']

In [39]:
aList*3

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

# Set Conversion

----------------
    set(newlist)

converts newlist into a set.

A set is an unordered collection of unique elements in Python.

##When you convert a list into a set, Python automatically removes all duplicate values and only keeps one instance of each unique element.

----------------------
#Result

The set created from newlist will be:

    {3, 4, 5, 6, 7}

------------------
#Duplicates removed:

The repeated 4s and 7s are reduced to a single instance each.

##Unordered:

Sets are unordered collections, so the elements may not appear in the same order as they were in the original list.

-------------------
##Important Points:
List: [4, 3, 4, 5, 6, 7, 7, 7, 7] allows duplicates.

Set: {3, 4, 5, 6, 7} is unordered and contains only unique elements.

------------------
#Example Usage:
You might use set() to eliminate duplicates from a list when only unique items are needed.

    unique_values = set(newlist)
   print(unique_values)  # Output: {3, 4, 5, 6, 7}

In [42]:
## some list methods

# show the original
print(aList)

# add a new element
aList.append(-100)
print(aList)

# sort
aList.sort()
print(aList)

[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, -100]
[-100, 0, 1, 2, 3, 4, 5]

### Exercise

In [43]:
# Use a list method to find the number of 7's in newlist
newlist.count(7)

4

# .
# .
# .

# VIDEO: Lists part 2

In [44]:
# append, insert, remove, del, sort

lst = [1,2,3,4,5]

print(lst)
lst.append(7)
print(lst)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 7]

In [45]:
lst.insert(2,20)
print(lst)

[1, 2, 20, 3, 4, 5, 7]

# Insert in a List
    lst.insert(2, 20):

-----------------------
##lst:

This is the list you're working with (which is not explicitly provided in the code snippet).

-----------------
##.insert(2, 20):

The insert() method takes two arguments:

----------------
##2:

This is the index where you want to insert the new value.

List indices in Python are zero-based, so 2 refers to the third position in the list.
20: This is the value you want to insert at the specified index.

----------------
##Effect:

The value 20 will be inserted into the list at index 2, shifting the elements that are currently at index 2 and beyond one position to the right.

--------------------
##Example:

Suppose lst initially contains:

    lst = [10, 30, 40, 50]

After calling lst.insert(2, 20), the list will become:

    [10, 30, 20, 40, 50]

The value 20 is inserted at index 2, between 30 and 40.
print(lst):

This will output the modified list to show the result after the insertion.

----------------
#Summary
insert(index, value) adds the value to the specified index of the list.

Elements already present at or after the given index are shifted right to accommodate the new value.

After the insertion, calling print(lst) will display the updated list.

If you provide the initial content of lst, I can show you the exact result after insertion.

In [ ]:
lst.append(3)
print(lst)
lst.remove(3)
print(lst)

[1, 2, 20, 3, 4, 5, 7, 3]
[1, 2, 20, 4, 5, 7, 3]

In [46]:
print(lst)

lst.sort()
print(lst)

lst.sort(reverse=True)
print(lst)

[1, 2, 20, 3, 4, 5, 7]
[1, 2, 3, 4, 5, 7, 20]
[20, 7, 5, 4, 3, 2, 1]

In [47]:
lst.append('hi')
lst.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [49]:
lst = [20, 7, 5, 4, 3, 2, 1, 'hi'] # This is your current list based on the global variables

# Convert all elements to strings to allow sorting
lst = [str(x) for x in lst]

lst.sort() # Now this will work as expected
print(lst)

['1', '2', '20', '3', '4', '5', '7', 'hi']

# VIDEO: Tuples

In [50]:
atuple = ( 3,'4',3 )

atuple*3

(3, '4', 3, 3, '4', 3, 3, '4', 3)

In [51]:
atuple.count(3)

2

In [52]:
alist = list(atuple)

print(atuple)
print(alist)

(3, '4', 3)
[3, '4', 3]

In [53]:
# tuples are immutable
atuple[0] = 5

TypeError: 'tuple' object does not support item assignment

In [54]:
# lists are mutable
alist[0] = 5
alist

[5, '4', 3]

# .
# .
# .

# VIDEO: Booleans

In [55]:
boolTrue = True
booltrue = 'true'

%whos

Variable       Type     Data/Info
---------------------------------
a              int      4
aList          list     n=7
aVariable      int      10
alist          list     n=3
also_not       int      3
ans            str      pupa
atuple         tuple    n=3
b              int      3
boolTrue       bool     True
booltrue       str      true
c              float    9.1
d              str      Hey there!
filterOrder    int      2048
firstName      str      Mike
lastName       str      Cohen
listList       list     n=4
lst            list     n=8
mixList        list     n=4
newlist        list     n=9
nope_          int      3
not_allowed    int      3
numans         float    12.0
param4modelA   float    42.42
side1          int      12
side2          int      10
strList        list     n=5
thirdside      float    15.620499351813308
user_name      str      mike
varA           int      3
varB           str      test
x              int      7
y              float    4.1
z              int      0

In [56]:
# comparisons
4 == 4

True

In [57]:
4>5

False

In [58]:
4>4

False

In [59]:
4>=4

True

In [60]:
4 != 5

True

In [61]:
a = 8
b = 4

outcome = a == b*2
print(outcome)

True

In [62]:
# conjunctive comparisons
14>5 and 7<10

True

In [63]:
14>5 or 7>10

True

In [64]:
# converting to boolean
print( bool(0) )
print( bool(10) )

print(' ')

print( bool('asdf') )
print( bool(' ') )
print( bool('') )

False
True

True
True
False

### Exercise

In [65]:
# Ask users to input Pythagorean triplet, check whether it's real

In [77]:
print("Let's test your knowledge of Pythagorean triples!")

sidea = float(input('Input length of side a: '))
sideb = float(input('Input length of side b: '))

hype = round((sidea**2 + sideb**2)**(1/2), 2)
print('The length of the hypotenuse is ' + str(hype))

Let's test your knowledge of Pythagorean triples!
Input length of side a: 10
Input length of side b: 12
The length of the hypotenuse is 15.62

In [86]:
print("Let's test your knowledge of Pythagorean triples!")

sidec = float(input('Input length of side c: ')) # get input for side c
# check
#isPythTriplet = hype # assign value to isPythTriplet outside print()

if sidec== hype:
    print('Your anser of the size of the hypotenus is ' + str(sidec) + ' IS CORRECT, '+'Well done!!')
else:
    print('Your anser of the size of the hypotenus is ' + str(sidec)  + ' unforrtunately IS WRONG'+'!!')
    print('The correct answer is ' + str(hype))

Let's test your knowledge of Pythagorean triples!
Input length of side c: 15
Your anser of the size of the hypotenus is 15.0 unforrtunately IS WRONG!!
The correct answer is 15.62

# .
# .
# .

# VIDEO: Dictionaries

In [88]:
D = dict()
D

{}

In [89]:
D['name'] = 'Mike' # key/value pairs
D['AgeRange'] = [20,50]

D

{'name': 'Mike', 'AgeRange': [20, 50]}

In [90]:
D = {'name':'Mike' , 'AgeRange':[20,50]}

D

{'name': 'Mike', 'AgeRange': [20, 50]}

In [91]:
# retrieve one item
D['name']

'Mike'

In [92]:
# list all properties
D.keys()

dict_keys(['name', 'AgeRange'])

In [93]:
# test whether a key is in the dictionary
'name' in D

True

In [94]:
'Mike' in D

False

In [95]:
'Mike' not in D

True

In [96]:
D.values()

dict_values(['Mike', [20, 50]])

In [97]:
D.items()

dict_items([('name', 'Mike'), ('AgeRange', [20, 50])])

### Exercise

In [98]:
# Input two numbers from the user.
# Create a dictionary with keys 'firstNum', 'secondNum', and 'product'

In [100]:
del D
D = dict()

num1 = float(input('Give me a number '))
D['FirstNum'] = num1

num2 = float(input('Give me another number '))
D['SecondNum'] = num2

D['Product'] = num1*num2

D.items()

Give me a number 10
Give me another number 20

dict_items([('FirstNum', 10.0), ('SecondNum', 20.0), ('Product', 200.0)])